* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #0b0b0b;
  color: white;
}

header {
  background: #111;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

header h1 {
  color: #ff3030;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

nav a:hover {
  color: #ff3030;
}

.hero {
  text-align: center;
  padding: 100px 20px;
  background: linear-gradient(135deg, #1a1a1a, #450000);
}

.hero h2 {
  font-size: 42px;
  margin-bottom: 15px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  background: #e50914;
  color: white;
  padding: 12px 25px;
  border-radius: 6px;
  text-decoration: none;
}

.movies {
  padding: 50px 20px;
  text-align: center;
}

.movies h2 {
  margin-bottom: 30px;
}

.movie-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.movie-card {
  background: #181818;
  width: 250px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

.poster {
  height: 250px;
  background: #292929;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.movie-card h3 {
  font-size: 22px;
  margin-bottom: 8px;
}

.movie-card p {
  color: #bbb;
  margin-bottom: 15px;
}

.movie-card button {
  background: #e50914;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.about {
  padding: 60px 20px;
  text-align: center;
  background: #151515;
}

.about h2 {
  margin-bottom: 15px;
}

.about p {
  color: #ccc;
}

footer {
  text-align: center;
  padding: 25px;
  background: #080808;
  color: #888;
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
    gap: 15px;
  }

  .hero h2 {
    font-size: 30px;
  }

  .movie-card {
    width: 90%;
  }
}   
    
